body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #ffffff;
}

.topnav {
    overflow: hidden;
    background-color: rgba(0, 209, 241, 0.8);
    display: flex;
    justify-content: space-between;
}

.topnav a {
    float: left;
    color: #fff871;
    text-align: center;
    padding: 4px 20px;
    margin-right: 1px;
    text-decoration: none;
    font-size: 150px;
    margin: 0px;
    padding: 50px;
}

.topnav a:hover {
    background-color: #ffe32b;
    color: rgba(0, 209, 241, 0.8);
}

.topnav a.active {
    background-color: #ffe32b;
    color: rgba(0, 209, 241, 0.8);
}

.content-container {
    text-align: center;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container p {
    font-size: 40px;
    color: #000000;
    font-weight: 2000;
    margin: 10px 0;
}

.content-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.content-container a img {
    width: 20%; 
    height: auto; 
    margin-right: 10px;
    transition: transform 0.3s;
}

.content-container a:hover img {
    transform: scale(1.2); 
}

.content-container .instruction {
    font-size: 60px; 
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px; 
}

