@media only screen and (max-width: 600px) {
    .topnav a {
      
      font-size: 30px;
      padding: 20px 10px;
    }
  
    .link-hi {
      font-size: 400px;
    }
  
    .link-elli {
      font-size: 50px;
    }
  
    .bottom-center a {
      font-size: 30px;
    }
  
    .bottom-center button {
      padding: 8px 16px;

    }
    .content-container a img {
        width: 20%;
        height: auto; 
        margin-right: 10px;
        transition: transform 0.3s;
    }
    .content-container p {
        font-size: 20px;
        color: #000000;
        font-weight: 2000;
        margin: 10px 0;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .topnav a {
      
        font-size: 30px;
        padding: 20px 10px;
      }
    
      .link-hi {
        font-size: 80px;
      }
    
      .link-elli {
        font-size: 4;
      }
    
      .bottom-center a {
        font-size: 30px;
      }
    
      .bottom-center button {
        padding: 8px 16px;
      }
    
    }
 
      
      
  